body {
/*  background-color: #76EFD4;*/
  background-image: url("../images/symphony.png");
/*  background-repeat: no-repeat;
*/}

h1 {
  font-size: 7em;
  text-align: center;
  font-family: 'Sacramento', cursive;
}

li {
  display: inline;
  margin: 0px 3%;
}

ul {
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
  padding: 15px;
  width: 600px;
  margin: 0px auto 0px auto;
  text-align: center;
}

a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 6px18px 5px 18px;
}

a:hover {
  color: #592B91;
}

a:hover, a.on {
  color: #1B821A;
}

p {
  text-align: center;
  width: 600px;
  margin: 20px auto 20px auto;
}

/*a:hover, a.on {
  color: #cc3333;
}*/

/*id tags*/

#page {
  max-width: 940px;
  min-width: 720px;
  height: 940px;
  margin: 10px auto 10px auto;
  padding: 20px;
  border: 4px double #000;
  background-color: #fff;
}

#bannerWrapper {
  width: 600px;
  margin: 20px auto 20px auto;
}

/*class tags*/
